<!-- user-dashboard.component.html -->
<div>
    <h3>Available Vaccines</h3>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Location</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vaccine of vaccines">
                <td>{{ vaccine.type }}</td>
                <td>{{ vaccine.location }}</td>
                <td>{{ vaccine.count }}</td>
                <td>
                   
                    <button (click)="decrementCount(vaccine)">-</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
